.app-layout {
    display: flex;
    min-height: 100vh;
    background: #FAFBFC;
}

.main-content {
    flex: 1;
    min-width: 0;
    /* Prevents flex blowout */
    background-color: var(--background);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .app-layout {
        flex-direction: column;
    }

    .main-content {
        width: 100%;
    }
}