.app-layout {
    min-height: 100vh;
    display: flex;
}

.main-content {
    flex: 1;
    padding: 3rem 4rem;
    background-color: var(--background);
    overflow-x: auto;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (max-width: 768px) {
    .app-layout {
        flex-direction: column;
    }

    .main-content {
        padding: 5rem 1rem 1rem;
        width: 100%;
    }
}